* {
  font-family: "arial";
  margin: 0;
  padding: 0;
}
body {
  background: #ccf;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  padding: 10px;
}
body > div {
  padding: 10px;
  border-radius: 10px;
}
.card {
}

.card:nth-child(1) {
  position: relative;
  grid-column: 1/3;
  background: #60f;
}

.card:nth-child(2) {
  background: #334;
}
.card:nth-child(3) {
  background: #fff;
  color: #000;
}
.card:nth-child(5) {
  grid-column: 4/4;
  grid-row: 1/3;
  background: #fff;
  color: #000;
}
.card:nth-child(4) {
  grid-column: 2/4;
  background: #223;
}
#quote {
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 10%;
  width: 100px;
  height: 100px;
  z-index: 0;
  opacity: 0.6;
}
h2 {
  position: relative;
  z-index: 9;
}

html {
  font-size: 13px;
  color: #fff;
}
img {
  border-radius: 100%;
  width: 40px;
  height: 40px;
}
.profile {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 5px;
}

@media (max-width: 500px) {
  html {
    font-size: 8px;
  }
  img {
    width: 20px;
    height: 20px;
  }
  body {
    height: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .card {
    grid-row: auto;
    grid-column: auto;
  }
}
